
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using Yemeksepetii.Models
@model Users

<div id="body-container">
    <div id="right-column">
        <div class="row">
            <div class="profile-info">
                <h2 class="text-center">@ViewBag.CompanyName</h2>
                <div class="text-center">
                    <a href="/Company/ProfileEdit" class="btn btn-primary btn-sm right" role="button">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Profili Düzenle
                    </a>
                </div>
            </div>
        </div>
        <div class="right-column-content">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <span aria-hidden="true" class="icon icon-documents"></span>
                        <span class="main-text">
                            Genel Bilgiler
                        </span>
                    </h1>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-blue">
                                <div class="c-widget-icon">
                                    <span class="icon icon-double-diamonds"></span>
                                </div>
                                <div class="c-wdiget-content-block">
                                    <div class="c-widget-content-heading">
                                        @ViewBag.WaitingOrderCount Sipariş
                                    </div>
                                    <div class="c-widget-content-sub">
                                        Bekleyen Sipariş
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-red">
                                <div class="c-widget-icon">
                                    <span class="icon icon-cube"></span>
                                </div>
                                <div class="c-wdiget-content-block">
                                    <div class="c-widget-content-heading">
                                        @ViewBag.OrderCount Sipariş
                                    </div>
                                    <div class="c-widget-content-sub">
                                        Toplam Sipariş
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-green">
                                <div class="c-widget-icon">
                                    <span class="icon icon-dollar"></span>
                                </div>
                                <div class="c-wdiget-content-block">
                                    <div class="c-widget-content-heading">
                                        @ViewBag.TotalProfit₺
                                    </div>
                                    <div class="c-widget-content-sub">
                                        Toplam Satış
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-yellow">
                                <div class="c-widget-icon">
                                    <span class="icon icon-report-comment"></span>
                                </div>
                                <div class="c-wdiget-content-block">
                                    <div class="c-widget-content-heading">
                                        @ViewBag.UnansweredCommentCount Yeni Yorum
                                    </div>
                                    <div class="c-widget-content-sub">
                                        @ViewBag.CommentCount Toplam Yorum
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>











                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="c-widget c-widget-custom c-widget-size-normal highlight-color-red">
                                <div class="c-widget-icon">
                                    <span class="icon icon-copy-document"></span>
                                </div>
                                <div class="c-wdiget-content-block">
                                    <div class="c-widget-content-heading">
                                        Delivery Progress
                                    </div>
                                    <div class="c-widget-content-body">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Package Name</th>
                                                    <th>Completion Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Pellentesque sodales arcu</td>
                                                    <td>
                                                        <span class="progress">
                                                            <span class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                <span class="sr-only">80% Complete (success)</span>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Odio nec semper</td>
                                                    <td>
                                                        <span class="progress">
                                                            <span class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                                <span class="sr-only">60% Complete (success)</span>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Dapibus interdum</td>
                                                    <td>
                                                        <span class="progress">
                                                            <span class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                <span class="sr-only">40% Complete (success)</span>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Pellentesque sodales arcu</td>
                                                    <td>
                                                        <span class="progress">
                                                            <span class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                                <span class="sr-only">20% Complete (success)</span>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="c-widget-content-sub">
                                        <a href="#" class="btn btn-link btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            View Full List
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="c-widget c-widget-graph c-widget-size-medium highlight-color-red">
                                        <div class="c-widget-icon">
                                            <span class="icon icon-coins"></span>
                                        </div>
                                        <div class="c-wdiget-graph-actual">
                                            <div id="today-sales" class="graph graph-pie graph-size-small" data-graph-colors="#4596f1,#f17d45,#ef006d,#11fcff"></div>
                                        </div>
                                        <div class="c-wdiget-content-block">
                                            <div class="c-widget-content-heading">
                                                Today's Sales
                                            </div>
                                            <div class="c-widget-content-sub">
                                                <span class="glyphicon glyphicon-arrow-left"></span> Hover over chart for details
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="c-widget c-widget-graph c-widget-size-medium highlight-color-red">
                                        <div class="c-widget-icon">
                                            <span class="icon icon-double-diamonds"></span>
                                        </div>
                                        <div class="c-wdiget-graph-actual">
                                            <div id="product-sales" class="graph graph-size-small" data-graph-colors="#4596f1,#f17d45"></div>
                                        </div>
                                        <div class="c-wdiget-content-block">
                                            <div class="c-widget-content-heading">
                                                Sales Comparison
                                            </div>
                                            <div class="c-widget-content-sub">
                                                T-Shirts/Shoes
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block block-size-normal">
                                <div class="block-heading">
                                    <div class="main-text h2">
                                        Reviews of Your Products
                                    </div>
                                    <div class="block-controls">
                                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                                        <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                                    </div>
                                </div>
                                <div class="block-content-outer">
                                    <div class="block-content-inner">
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-6" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    Samantha Carter
                                                </a>
                                                <small>4 mins ago, on <a href="#">Nexus 5 Screen Protector</a></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute Samantha Carter and receive no more updates from her">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">32</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    George Hammand
                                                </a>
                                                <small>2 hours ago, on <a href="#">nature Wallpapers (Wolf)</a></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                <p>
                                                    <img src="http://placehold.it/600x400" alt="">
                                                </p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">141</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    Teal'c Jafar
                                                </a>
                                                <small>Yesterday 22:50, on <a href="#">Striped Running Shoes (Men)</a></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">344</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-6" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    Samantha Carter
                                                </a>
                                                <small>4 mins ago, on <a href="#">Striped Running Shoes (Men)</a></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute Samantha Carter and receive no more updates from her">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">32</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    George Hammand
                                                </a>
                                                <small>2 hours ago, on <a href="#">Nature Wallpapers (Flower)</a></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                <p>
                                                    <img src="http://placehold.it/600x400" alt="">
                                                </p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">141</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-block clearfix">
                                            <div class="comment-image">
                                                <a href="#">
                                                    <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                </a>
                                            </div>
                                            <div class="comment-title h4">
                                                <a href="#">
                                                    Teal'c Jafar
                                                </a>
                                                <small>Yesterday 22:50, on <a href="#">Human Cultures 101</a></small></small>
                                            </div>
                                            <div class="comment-content">
                                                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                            </div>
                                            <div class="comment-controls">
                                                <div class="comment-controls-right">
                                                    <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                        <span class="icon icon-sound-off icon-size-medium"></span>
                                                        <span class="main-text">Silence User</span>
                                                    </a>
                                                </div>
                                                <div class="comment-controls-left">
                                                    <a class="comment-reply-comment" href="#" title="Reply">
                                                        <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-repost" href="#" title="Re-Post This">
                                                        <span class="icon icon-retweet icon-size-medium"></span>
                                                    </a>
                                                    <a class="comment-show-replies" href="#" title="See Replies">
                                                        <span class="icon icon-comment icon-size-medium"></span>
                                                        <span class="main-text">344</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-replies-block">
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-5" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            George Hammand
                                                        </a>
                                                        <small>2 hours ago</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute George Hammand and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-block clearfix">
                                                    <div class="comment-image">
                                                        <a href="#">
                                                            <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-3" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="comment-title h4">
                                                        <a href="#">
                                                            Teal'c Jafar
                                                        </a>
                                                        <small>Yesterday 22:50</small>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <div class="comment-controls-right">
                                                            <a class="comment-mute-user" href="#" title="Mute Teal'c Jafar and receive no more updates from him">
                                                                <span class="icon icon-sound-off icon-size-medium"></span>
                                                                <span class="main-text">Silence User</span>
                                                            </a>
                                                        </div>
                                                        <div class="comment-controls-left">
                                                            <a class="comment-reply-comment" href="#" title="Reply">
                                                                <span class="icon icon-arrow-curve-left icon-size-medium"></span>
                                                            </a>
                                                            <a class="comment-repost" href="#" title="Re-Post This">
                                                                <span class="icon icon-retweet icon-size-medium"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-reply-input-block">
                                                <div class="comment-image">
                                                    <a href="#">
                                                        <img class="list-thumbnail" src="http://placehold.it/40x40" width="40" height="40" alt="profile-pic-4" alt="" />
                                                    </a>
                                                </div>
                                                <div class="comment-input-area">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control input-sm user-comment" placeholder="What's on your mind?"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-xs post-comment" type="submit">Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-widget c-widget-blank">
                                <div class="profile-info">
                                    <h3>General</h3>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                            Position
                                        </div>
                                        <div class="profile-info-body">
                                            Asst. Creative Director,<br>
                                            Twitter, Inc.
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-user"></span>
                                            Gender
                                        </div>
                                        <div class="profile-info-body">
                                            Male
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-widget c-widget-blank">
                                <div class="profile-info">
                                    <h3>Social</h3>
                                    <div class="profile-info-block">
                                        <div class="profile-info-body">
                                            <a href="#">
                                                <span class="icon icon-social-sharethis icon-size-medium"></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon icon-social-linkedin icon-size-medium"></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon icon-social-twitter icon-size-medium"></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon icon-social-facebook icon-size-medium"></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon icon-social-google-plus icon-size-medium"></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon icon-social-envato icon-size-medium"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-widget c-widget-blank">
                                <div class="profile-info">
                                    <h3>Contact Info</h3>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-phone-alt"></span>
                                            Phone Number
                                        </div>
                                        <div class="profile-info-body">
                                            + 234 - 123 4567 8901
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-phone"></span>
                                            Mobile Number
                                        </div>
                                        <div class="profile-info-body">
                                            + 234 - 123 8901 4567
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            Email
                                        </div>
                                        <div class="profile-info-body">
                                            ken.adams@example.com
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-title h6">
                                            <span class="glyphicon glyphicon-map-marker"></span>
                                            Office Address
                                        </div>
                                        <div class="profile-info-body">
                                            <address>
                                                <strong>Twitter, Inc.</strong><br>
                                                795 Folsom Ave, Suite 600<br>
                                                San Francisco, CA 94107<br>
                                                <abbr title="Phone">P:</abbr> (123) 456-7890
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <div class="block-heading">
                                    <div class="main-text h2">
                                        Misc. Info
                                    </div>
                                    <div class="block-controls">
                                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                                        <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                                    </div>
                                </div>
                                <div class="block-content-outer">
                                    <div class="block-content-inner">
                                        <div class="other-stats">
                                            <table class="table table-striped table-hover table-condensed">
                                                <tr>
                                                    <td class="other-stats-icon">
                                                        <span class="icon icon-user"></span>
                                                    </td>
                                                    <td class="other-stats-number">
                                                        1,594
                                                    </td>
                                                    <td class="other-stats-text">
                                                        <a href="#">
                                                            Friends
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="other-stats-icon">
                                                        <span class="icon icon-mail"></span>
                                                    </td>
                                                    <td class="other-stats-number">
                                                        98
                                                    </td>
                                                    <td class="other-stats-text">
                                                        <a href="#">
                                                            Unread Emails
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="other-stats-icon">
                                                        <span class="icon icon-exclamation"></span>
                                                    </td>
                                                    <td class="other-stats-number">
                                                        8
                                                    </td>
                                                    <td class="other-stats-text">
                                                        <a href="#">
                                                            Tasks Remaining
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="other-stats-icon">
                                                        <span class="icon icon-cube"></span>
                                                    </td>
                                                    <td class="other-stats-number">
                                                        32
                                                    </td>
                                                    <td class="other-stats-text">
                                                        <a href="#">
                                                            New Orders
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>