@{
    ViewBag.Title = "ProductsServed";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using Yemeksepetii.Models
@using Yemeksepetii.App_Classes
@model IEnumerable<ServedProduct>


<div class="col-md-12">
    <div class="block">
        <div class="block-heading">
            <div class="block-controls">
                <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
            </div>
        </div>
        <div class="block-content-outer">
            <div class="block-content-inner">
                <div class="table-responsive">

                    <table id="datatable-1" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Açıklaması</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ServedProduct servedProduct in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => servedProduct.CategoryName)</td>
                                    <td>@Html.DisplayFor(modelItem => servedProduct.ProductName)</td>
                                    <td>@Html.DisplayFor(modelItem => servedProduct.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => servedProduct.Price)</td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "/ProductsServedEdit", new { id = servedProduct.ServeID, @class= "btn btn-danger"}) |
                                        <a href="#" class="btn btn-danger spDelete" data-id="@servedProduct.ServeID">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(".spDelete").click(function () {
            var result = confirm("Kayıt Silinsin Mi?");
            if (result) {
                var sID = $(this).data("id");



                $.ajax({
                    type: "POST",
                    url: "/Company/ProductsServedDelete",
                    data: {sID: sID},
                    success: function () {
                        alert("Kayıt Silindi");
                        window.location.replace("/Company/ProductsServedShow");
                    },
                    error: function () {
                        alert("Kayıt silme esnasında bir hata oluştu.");
                    }
                });

            }
            else {

            }
        })
    </script>
}